<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ISOSET - {{ inventory_hostname }}</title>
</head>
<body>
    <h1>Bienvenue-Welcome-Ansuf yiswen sur ISOSET</h1>
    <p>Serveur : {{ inventory_hostname }}</p>
    <p>IP : {{ ansible_host }}</p>
    <p>Déployé par Jenkins + Ansible</p>
</body>
</html>
